@using BusinessManager.Models
@using BusinessManager.Models.ViewModels
@model List<Product>
@{
	ViewData["Title"] = "Productos";
}
@await Html.PartialAsync("_PageHeader", new PageHeaderViewModel
{
	Title = "Productos",
    ButtonText = "Crear",
    ButtonUrl = "#",
    ButtonClass = "",
    ButtonId = "btnCreateProduct",
    ButtonIcon = "bi bi-plus-square-fill"
})
<div class="table-responsive">
	<table class="table mt-2 table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Udm</th>
				<th>P. Compra</th>
				<th>P. Venta</th>
				<th>Stock</th>
				<th>Categoría</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@Html.DisplayFor(p => product.Name)</td>
					<td>@Html.DisplayFor(p => product.Description)</td>
					<td>@Html.DisplayFor(p => product.Uom.Name)</td>
					<td>@Html.DisplayFor(p => product.PurchasePrice)</td>
					<td>@Html.DisplayFor(p => product.SalePrice)</td>
					<td>@Html.DisplayFor(p => product.CurrentStock)</td>
					<td>@Html.DisplayFor(p => product.Category.Name)</td>
					<td class="text-end">
						<a href="#" class="btn btn-sm btn-outline-dark me-1 btn-edit-product" data-id="@product.ProductId" title="Editar">
							<i class="bi bi-pencil-fill"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/js/utils/modalManager.js" asp-append-version="true"></script>
}