@model BusinessManager.Models.ViewModels.UserViewModel
@using BusinessManager.Models

<div class="modal-header">
    <h5 class="modal-title" id="userModalLabel">@ViewBag.ModalTitle</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form id="userForm" asp-action="@ViewBag.ActionName" asp-route-id="@Model.UserId" method="post">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @if (Model != null && Model.UserId != 0)
        {
            <input type="hidden" asp-for="UserId" />
        }

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Mail" class="form-label"></label>
            <input asp-for="Mail" class="form-control" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RolId" class="form-label"></label>
            <select asp-for="RolId" class="form-select" asp-items="@(ViewData["Rols"] as SelectList)">
                <option value="">Selecciona un Rol</option>
            </select>
            <span asp-validation-for="RolId" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar Usuario</button>
    </div>
</form>

<script>
    // Validación del lado del cliente
    if ($.validator && $.validator.unobtrusive) {
        $.validator.unobtrusive.parse("#userForm");
    }
</script>